@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#home {
  background-image: url("./asset/Ilustrasion.svg");
}


.navbar-fixed{
    @apply fixed z-[999] bg-white bg-opacity-70;
    backdrop-filter: blur(1px);
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1)
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45; 
}


/* Carousel */

.carousel-container {
    overflow: hidden;
    position: relative;
}
.carousel-wrapper {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
}
.carousel-item {
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    width: 100%;
    padding: 0 1rem; /* Equivalent to px-4 */
}
@media (min-width: 1024px) {
    .carousel-item {
        width: 50%; /* Equivalent to lg:w-1/2 */
    }
}
@media (min-width: 1280px) {
    .carousel-item {
        width: 33.333%; /* Equivalent to xl:w-1/3 */
    }
}


/* Animasi Profile */

 /* Keyframes for animations */
 @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Animation classes */
.animate-from-top {
    animation: slideInFromTop 1s ease-out forwards;
}

/* Initial state for elements */
#Biodata, #Gambar, #quotes {
    opacity: 0;
}

/* Animation classes */
.animate-from-left {
    animation: slideInFromLeft 1s ease-out forwards;
}

.animate-from-right {
    animation: slideInFromRight 1s ease-out forwards;
}